$color-text: #ffffff;
$color-text-alt: #e0e0e0;
$color-text-heading: #000000;
$color-bg-icon: rgba(224, 224, 224, 0.5);
$color-bg-icon-hover: rgba(224, 224, 224, 1);
$font-family-primary: 'Roboto', sans-serif;
$font-family-secondary: 'Delius Unicase', cursive;
